<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Bootstrap with Custom CSS</title>    
     </head>
     <body>
        <div class="menu"> 
            <a href="home.ejs" button type="button" class="btn btn-primary" > Trang chủ </a>
            <a href="about.ejs" button type="button" class="btn btn-primary"> Giới thiệu </a>
            <a href="test.ejs" button type="button" class="btn btn-primary"> Thử nghiệm </a>
        </div>

     </body>

</html>